streamlit
pandas
matplotlib
Pillow
seaborn
wordcloud
transformers
spacy
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl
